.form-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
}

.form-container .rg__form-container {
    padding-left: 125px;
}

.form-container form div:nth-child(3),
.form-container form div:nth-child(4) {
    width: 540px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-bottom: 18px;
}

.form-container form input {
    padding: 14px 18px;
    font-size: 18px;
    border: 1px solid #1E3240;
}

.form-container form input:focus {
    border: 1px solid #95daf3;
}

.form-container form input::placeholder {
    color: #BDBDBD;
}

form p {
    color: #BDBDBD;
    font-size: 18px;
    margin: 12px 0 40px 0;
}

form textarea {
    padding: 14px 18px;
    font-size: 18px;
    min-width: 540px;
    max-width: 540px;
    min-height: 120px;
    border: 1px solid #1E3240;
    max-height: 200px;
}

form textarea:focus {
    border: 1px solid #95daf3;  
}

.form-container form textarea::placeholder {
    color: #BDBDBD;
}

.form-container form div:nth-child(6) {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}

.form-container form div:nth-child(6) button {
    background-color:  #1E3240;
    padding: 18px 24px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.form-container form div:nth-child(6) p {
    margin-left: 18px;
    font-size: 12px;
    opacity: 0.6;
}

@media only screen and (max-width: 1150px) {
    .form-container {
        width: 100%;
        padding: 0 15px;
    }

    .form-container .rg__form-container {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .form-container {
        padding: 0;
    }

    .lf__form_container {
        width: 40%;
    }

    .lf__form_container img {
        width: 100%;
    }

    .rg__form-container {
        width: 60%;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 1050px) {
    .form-container form div:nth-child(6) {
        padding-top: 15px;
    }

    .form-container form div:nth-child(3),
    .form-container form div:nth-child(4) {
        width: 100%;
    }

    .form-container form div:nth-child(3) input,
    .form-container form div:nth-child(4) input {
        width: 49%;
    }

    .form-container form div:nth-child(3) input:nth-child(2),
    .form-container form div:nth-child(4) input:nth-child(2) {
        margin-left: 5px;
    }

    form textarea {
        min-width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .lf__form-container {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .rg__form-container {
        width: 50%;
    }

    .form-container form div:nth-child(3),
    .form-container form div:nth-child(4) {
        flex-wrap: wrap;
    }

    .form-container form div:nth-child(3) input,
    .form-container form div:nth-child(4) input {
        width: 100%;
        margin: 5px 0;
    }
    
    .form-container form div:nth-child(3) input:nth-child(2),
    .form-container form div:nth-child(4) input:nth-child(2) {
        margin-left: 0px;
    }

    .rg__form-container p {
        margin: 10px 0; 
    }
}

@media only screen and (max-width: 900px) {
    .rg__form-container {
        width: 100%;
    }

    .lf__form-container {
        display: none;
    }

    .rg__form-container {
        order: 1;
    }

    .form-container form div:nth-child(3),
    .form-container form div:nth-child(4) {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .form-container form div:nth-child(3) input,
    .form-container form div:nth-child(4) input {
        width: 48%;
    }
}

@media only screen and (max-width: 500px) {
    .form-container form div:nth-child(3),
    .form-container form div:nth-child(4) {
        flex-wrap: wrap;
    }

    .form-container form div:nth-child(3) input,
    .form-container form div:nth-child(4) input {
        width: 100%;
    }

    .form-container form div:nth-child(6) button {
        padding: 10px 15px;
    }
}