.second-slider-main-container {
    min-height: 700px;
    padding: 54px 0 126px 0;
}

.sec-slide-container {
    display: flex;
    width: 1110px;
    margin: 0 auto;
}

.second-slide__header {
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 78px;
}

.second-slide__header h2 {
    text-align: center;
}

.second-slide__header p {
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #1E3240;
}

.second-slider-main-container .splide__arrows .splide__arrow--next {
    width: 32px;
    height: 32px;
    border-radius: 0;
    position: absolute;
    right: 0;
    background-image: url('../images/s-next-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0.3;
    font-size: 0;
    margin-right: 55px;
}

.second-slider-main-container .splide__arrows .splide__arrow--next:hover {
    background-image: url('../images/next-arrow.png');
    opacity: 1;
}


.second-slider-main-container .splide__arrows .splide__arrow--prev {
    width: 32px;
    height: 32px;
    border-radius: 0;
    position: absolute;
    left: 0;
    background-image: url('../images/s-prev-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0.3;
    font-size: 0;
    margin-left: 55px;
}

.second-slider-main-container .splide__arrows .splide__arrow--prev:hover {
    background-image: url('../images/prev-arrow.png');
    opacity: 1;
}

.sec-slide-container .rg__sec-slide-cont {
    padding: 32px 0 0 125px;
}

.sec-slide-container .rg__sec-slide-cont h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #1E3240;
    margin: 18px 0;
}

.sec-slide-container .rg__sec-slide-cont p:nth-child(3) {
    font-size: 24px;
    line-height: 120%;
    color: #1E3240;
}

.sec-slide-container .rg__sec-slide-cont p:nth-child(4) {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #1E3240;
    margin-top: 18px;
}

.loading-p {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
}

.error-p {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
}

@media only screen and (max-width: 1350px) {
    .second-slider-main-container .splide__arrows .splide__arrow--next {
        margin-right: 15px
    }

    .second-slider-main-container .splide__arrows .splide__arrow--prev { 
        margin-left: 15px
    }
}

@media only screen and (max-width: 1230px) {
    .second-slider-main-container {
        width: 100%;
    }

    .second-slider-main-container .splide__slide {
        margin: 0;
        width: 100%;
    }

    .sec-slide-container {
        width: 90%;
        margin: 0 auto;
    }

    .sec-slide-container .rg__sec-slide-cont {
        padding: 32px 0 0 50px;
    }

    .sec-slide-container .rg__sec-slide-cont p:nth-child(3) {
        font-size: 20px;
    }

    .second-slide__header {
        width: 100%;
    }
}

@media only screen and (max-width: 970px) {
    .sec-slide-container .rg__sec-slide-cont {
        padding: 15px 0 15px 15px;
    }

    .second-slider-main-container .splide__arrows .splide__arrow--next {
        margin-right: 10px;
        margin-left: 3px;
    }

    .second-slider-main-container .splide__arrows .splide__arrow--prev { 
        margin-left: 10px;
        margin-right: 3px
    }

    .rg__sec-slide-cont {
        width: 60%;
    }

    .sec-slide-container  .rg__sec-slide-cont h3 {
        font-size: 20px;
        margin: 10px 0;
    }

    .sec-slide-container .rg__sec-slide-cont p:nth-child(4) {
        font-size: 16px;
        font-weight: bold;
    }

    .lf__sec-slide-cont {
        width: 40%;
    }

    .lf__sec-slide-cont img {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .sec-slide-container .rg__sec-slide-cont img {
        width: 30px;
        height: 15px;
    }

    .sec-slide-container .rg__sec-slide-cont p:nth-child(3) {
        font-size: 16px;
    }
}

@media only screen and (max-width: 770px) {
    .sec-slide-container {
        flex-wrap: wrap;
    }

    .sec-slide-container .lf__sec-slide-cont {
        width: 100%;
    }

    .sec-slide-container .lf__sec-slide-cont img {
        width: 55%;
        height: 300px;
        margin:  0 auto;
        display: block;
    }

    .sec-slide-container .rg__sec-slide-cont {
        width: 100%;
        margin: 15px 15px;
    }
}

@media only screen and (max-width: 680px) {
    .sec-slide-container .lf__sec-slide-cont img {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .second-slide__header {
        padding-bottom: 25px;
    }

    .second-slide__header h2 {
        font-size: 27px;
    }

    .sec-slide-container .lf__sec-slide-cont img {
        width: 90%;
    }

    .splide__pagination__page.is-active {
        background-color: #AFD4E2;;
    } 

    .sec-slide-container .rg__sec-slide-cont {
        padding: 3px;
    }

    .sec-slide-container .rg__sec-slide-cont h3 {
        line-height: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .sec-slide-container .lf__sec-slide-cont img {
        height: 250px;
    }
}

@media only screen and (max-width: 300px) {
    .sec-slide-container .lf__sec-slide-cont img {
        height: 180px;
    }
}