.slider-main-container {
    width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 48px 0 86px 0;
}

.slide-container {
    margin: 0 15px;
    width: 300px;
}

.slider-main-container .splide__arrows {
    height: 32px;
    width: 76px;
    position: absolute;
    right: 165px;
    top: -84px;
}

.slider-main-container .splide__arrows .splide__arrow--next {
    width: 32px;
    height: 32px;
    border-radius: 0;
    position: absolute;
    right: 0;
    background-image: url('../images/next-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 1;
    font-size: 0;
}

.slider-main-container .splide__arrows .splide__arrow--prev {
    width: 32px;
    height: 32px;
    border-radius: 0;
    position: absolute;
    left: 0;
    background-image: url('../images/prev-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 1;
    font-size: 0;
}

.slide-container img {
    position: relative;
    z-index: 1;
    width: 350px;
    height: 450px;
}

.slide-title-box {
    width: 290px;
    min-height: 80px;
    padding: 22px 20px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.04);
    margin: -40px auto 0 auto;
    background-color: white;
    position: relative;
    z-index: 2;
}

.slide-title-box p:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #1E3240
}

.slide-title-box p:last-child {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #1E3240
}

.slide__header h2 {
    margin-bottom: 12px;
}

.slide__header p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #BDBDBD;
    margin-bottom: 84px;
}

@media only screen and (min-width: 1440px) {
    .slider-main-container .splide__arrows {
        right: 0;
    }
}

@media only screen and (max-width: 1440px) {
    .slider-main-container {
        width: 100%;
    }

    .slider-main-container .splide__slide {
        padding-left: 150px;
    } 

    .slide-container {
        width: 350px;
    }

    .slide-container img {
        width: 372px;
    }

    .slide__header {
        width: 1110px;
        margin: 0 auto;
    }

    .splide__arrows {
        right: 165px;
    }
}

@media only screen and (max-width: 1200px) {
    .slider-main-container .splide__slide {
        padding-left: 0px;
    } 

    .slide-container {
        margin-left: 0px;
        width: 350px;
    }

    .slide__header {
        width: 100%;
        padding: 0 10px;
    }

    .splide__arrows {
        right: 50px;
    }

    .splide__slide {
        margin: 0 15px;
    }

    .slide-container {
        width: 330px;
        margin: 0 auto;
    }

    .slide-container img {
        width: 100%;
    }

    .slider-main-container .splide__arrows {
        right: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .slide__header h2 {
        font-size: 27px;
    }
}